<table>
	<thead> <tr>
		<td> Title </td>
		<td> Owner </td>
		<td> Action </td>
		<td> </td>
	</tr> </thead>
	<tbody>
		<% @posts.each do |p| %>
		<tr>
			<td> <%= link_to p.title, post_path(p) %></td>
			<td> <%= p.find_user_name(p.user_id) %></td>
			<td>

				<% if current_user && p.editable_by?(current_user) %>
				<%= link_to "Edit", edit_post_path(p) %>
				<%= link_to "Delete", post_path(p), :method => :delete, :confirm => "Are you sure?" %>
				<% end %>
			</td>
			<td>
				<%= p.get_comment_count(p.id) if p.get_comment_count(p.id) > 0 %>
				<% #need to going better%>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>



<br>
<%= link_to 'New', new_post_path %>