<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrap" class="container-narrow">
    <div class="masthead">
      <ul class="nav nav-pills pull-right">
       	<% if current_user %>
       	<li><%= link_to current_user.name %></li>	
           <li><%= link_to '登出', destroy_user_session_path, :method => :delete %></li>
       	<li><%= link_to '修改密碼', edit_registration_path(:user) %></li>
  	<% else %>
  		<li><%= link_to '註冊', new_registration_path(:user) %></li>
   		<li><%= link_to '登入', new_session_path(:user)%></li>
   	<% end %>
      </ul>

      <h1 class = "muted"><%= link_to 'Loser Forum', :root, :title =>'回首頁' %></h1>
      <span class = "title-label label label-primary">Hey</span>
      <span class = "title-label label label-warning">Yo</span>
      <span class = "title-label label label-danger">Ya</span>
    </div>
    <hr>


<br>
<%= yield %>

<div id="footer">
    <div class="container-narrow">
    <ul class="footer-links">
      <li><%= link_to '使用說明', posts_help_path ,:title => '看說明'  %></li>
      <li class="muted">·</li>
      <li><%= link_to '留言', posts_board_path,:title => '留一點東西' %></li>
      <li class="muted">·</li>
      <li><%= link_to '測試頁面', posts_test_path,:title => '不知道要放啥' %></li>
    </ul>
    <span class="pull-right">© 2014 Bob &nbsp;-&nbsp;Built with <a href="http://twitter.github.io/bootstrap/" target="_blank">Bootstrap</a> & copy from <a href="http://library.hunw.com/" target="_blank">hunw</a></span>
    </div>
</div>
</body>
</html>
